
body{
   background-image: url(../img/carretera2.jpg); 
   
}

#padre{
   
}


/*-------------------cabecera---------------------*/
.cabecera{
    background-color: #353a40;
    padding: 8px;
}


/*---------------------pagina-----------------------*/
.titulop{
    text-align: center;
    color: white;
}


.pag{
    background-color: #353a40;
    margin: 3em;
    
}




/*---------------------pie-----------------------*/
.pie{
     background-color: #353a40;
     position: absolute;
     width: 100%;
     bottom: 0px;
}

.parrafopie{
     color: white;
}

/*-----------------pagina inicio-------------------*/
.img{
    margin: 50px;
    margin-left: 47%;
     
}
.fecha{
    margin: 10px;
    margin-left: 1080px;
}
/****************************************************/

.pag2{
    background-color: #353a40;
    margin: 3em;
    display: grid;
    grid-template-columns: auto auto;
}

